<div ng-app="myApp" ng-controller="errorPage">
    <div>
        <div id="grad1" class="grad1-div">
            <div class="grad1-subdiv">
                <div>
                    <h1 class="error-text-align">Looks like we whiffed <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </h1>
                </div>
                <div>
                    <h3 class="error-text-align">Even champions miss sometimes. How about you help us in getting it back to service?</h3>
                </div>
                <div>
                    <h5 class="error-text-align error-text-fam">Please report this to <a target="_top" href="mailto:yadavhemantyadav@gmail.com">Hemant</a> for assistance.</h5>
                </div>
                <div class="error-text-align round-button-div">
                    <a class="hd-btn section-link light-blue" href="/#/">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
