

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xta1/t31.0-8/10636609_717888448311537_8685738226037651291_o.jpg" class="img-circle" width="100px" height="100px">
        <h1>Sonu Kumar</h1>
        <h3>User Interface / Front-end Developer</h3>
        <br>
        <a href="https://github.com/sonukr" target="_blank" class="btn btn-dark btn-lg"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/sonukry" target="_blank" class="btn btn-dark btn-lg"><i class="fa fa-facebook"></i></a>
        <a href="https://in.linkedin.com/in/krsonu" target="_blank" class="btn btn-dark btn-lg"><i class="fa fa-linkedin"></i></a>

    </div>
</header>
