

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <img src="https://scontent-sin6-1.xx.fbcdn.net/t31.0-8/11147228_886391618114428_6531575014577658017_o.jpg" class="img-circle" width="100px" height="100px">
        <h1>Hemant Yadav</h1>
        <h3>Automation Engineer cum developer</h3>
        <br>
        <a href="https://github.com/yadavhemantyadav" target="_blank" class="btn btn-dark btn-lg"><i class="fa fa-github"></i></a>
        <a href="https://www.facebook.com/yadavhemantyadav" target="_blank" class="btn btn-dark btn-lg"><i class="fa fa-facebook"></i></a>
        <a href="https://in.linkedin.com/in/hemant-yadav-12018188" target="_blank" class="btn btn-dark btn-lg"><i class="fa fa-linkedin"></i></a>
    </div>
</header>
